<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet"   href= "{{ url_for('static',filename='css/miestilo.css') }}">
    <!--<link type="text/css" rel="stylesheet"   href= "/static/css/miestilo.css">-->
  </head>
<body class="" >
  <nav class="navbar navbar-light  navbar-expand-lg banner-experiencia">
    <a class="navbar-brand" href="#">CV-Ronnie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link " href="/datos">Datos </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/formacion">Formacion</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link active" href="/experiencia">Experiencia <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/habilidades">Habilidades <span class="sr-only">(current)</span></a>
          </li>
      </ul>
    </div>
  </nav>
    
    <div class="container">
      <hr class="my-4"> 
      <div id="contenido" class="row">
        
        <div id="articulo" class="col-md-12">
          <div class="row">
            <div class="col-md-12 card tarjeta-experiencia">
             
              <div class="row">
             
                <div class="col-md-4 d-flex justify-content-center">
              <img  src='../static/img/experiencia.png' class='rounded ' style="width:50%"  alt="">
              <div class="card-body col-md-8 ">
                <h2 class="text-center">Experiencia</h2>
                       

                </div>
            </div>

        </div>
           
        
        </div>
    </div>

         
           <hr class="my-4">

    <div id="contenido" class="row">
 
        <div id="articulo" class="col-md-12">
          <div class="row">
            <div class="col-md-12 card tarjeta-experiencia">
              <div class="card-body ">
                <h2> ADMINISTRADOR DE SISTEMAS CENTRALES Dpto. Soporte Servicios Centrales (2018-Actualidad) </h2>
                <p class="text-experiencia"> Banreservas Republica Dominicana, RD  <br>    
                     Administración de plataforma autorizadora Débito y Cajeros automáticos Cortex y IST/Switch.  </p>
                     <ul>

                       <li>Seguimiento y solución de anomalías en producción.</li>
                       <li>  Relaciones con usuarios y suplidores.  </li>
                    <li>Implementación de cambios en producción.   </li>
                <li>Administración integrador de sistemas IBM bróker.</li> 
                        </ul>
            

                
                  <hr class="my-4">
                  <h2>LIDER DE PROYECTOS DESARROLLO Depto. Desarrollo de Tarjetas (julio 2016 – 2018) </h2>
                  <p class="text-experiencia"> Banreservas Republica Dominicana, RD  <br>    
                    Banco Popular Dominicano, RD    Documentación, análisis y diseño de soluciones para la plataforma de Cortex y IST/Switch. </p>
                       <ul>
  
                         <li>Seguimiento y solución de anomalías en producción.</li>
                         <li>  Relaciones con usuarios y suplidores.  </li>
                      <li> Relaciones con usuarios y suplidores.    </li>
                  <li>Levantamiento, análisis y diseño de requerimientos. </li> 
                          </ul>
              
                         

                </div>
            </div>

        </div>
           
        
        </div>
    </div>
</div>
    
</body>
</html>