<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet"   href= "{{ url_for('static',filename='css/miestilo.css') }}">
    <!---<link type="text/css" rel="stylesheet"   href= "/static/css/miestilo.css">-->
  </head>
<body class="" >
  <nav class="navbar navbar-light  navbar-expand-lg banner-habilidades">
    <a class="navbar-brand" href="#">CV-Ronnie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link " href="/datos">Datos </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/formacion">Formacion</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/experiencia">Experiencia <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="/habilidades">Habilidades <span class="sr-only">(current)</span></a>
          </li>
      </ul>
    </div>
  </nav>
    
    <div class="container">
      <hr class="my-4"> 
      <div id="contenido" class="row">
        
        <div id="articulo" class="col-md-12">


    <div id="contenido" class="row">
 
        <div id="articulo" class="col-md-12">
          <div class="row">
            <div class="col-md-12 card tarjeta-habilidades">
              <div class="card-body ">
                <h2> Habilidades: </h2>
               <ul>

                       <li >Conocimientos de sistema operativos AIX, Linux, AS400, Windows Server</li>
                       <li>  Aplicativos IST/Switch, Cortex, IBM Integration Bus, EMC Legato, ICBS. </li>
                    <li> Desarrollador Web, Manejo de apache web server y HTML/CCS, </li>
                <li>Programación Server side PHP y Python scripting.</li> 
                <li>Programación Client Side Javascript/Jquery</li> 
                <li> Manejo de base de datos Oracle, Mysql y MSSQ</li> 
               
                
                     </ul>         
              
                         

                </div>
            </div>

        </div>
           
        
        </div>
    </div>
</div>
    
</body>
</html>